<h1 class="text-center">LISTA DE CLIENTES </h1>
<table class="table table-striped table-bordered table-hover display" id="idClientes">
<thead>
    <tr>
        <th>IDENTIFICACIÓN</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>CELULAR</th>
        <th>DIRECCIÓN</th>
        <th>CORREO</th>
        <th>FECHA REGISTRO</th>
        <th>OPCIONES</th>
       
    </tr>
</thead>
    <tbody>
        <tr *ngFor="let c of infoConsultaCle">
            <td>{{c.identificacionCle}}</td>
            <td>{{c.nombresCle}}</td>
            <td>{{c.apellidosCle}}</td>
            <td>{{c.celularCle}}</td>
            <td>{{c.direccionCle}}</td>
            <td>{{c.emailCle}}</td>
            <td>{{c.fechaRegistroCle}}</td>
            <td>
                <button (click)="formEditar(c.identificacionCle)" class="btn btn-warning">EDITAR</button>
                <button (click)="eliminarCle(c.identificacionCle)" class="btn btn-danger">ELIMINAR</button>
                
            </td>
        </tr>
    </tbody>

</table>


